<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Dima Chuvardinsky</title>


    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://bootstrapdocs.com/v3.2.0/docs/examples/cover/cover.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="./Carousel Template for Bootstrap_files/ie-emulation-modes-warning.js"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

        <![endif]-->
        <script src="{{STATIC_URL}}bootstrap/js/jquery-1.11.2.min.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}bootstrap/css/bootstrap.js" type="text/javascript"></script>
        <![endif]-->
  </head>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <ul class="nav masthead-nav">
                        <li><a href="/blog/"><span class="glyphicon glyphicon-pencil"></span>  MyBlog</a></li>
                        <li><a href="http://github.com/dimonck7"><span class="glyphicon glyphicon-inbox"></span> GitHub</a></li>
                        <li><a href="https://plus.google.com/u/1/115752823496619447333/posts"><span class="glyphicon glyphicon-envelope"></span>  Google Plus</a></li>
                        <li><a href="https://www.linkedin.com/in/dimachuva"><span class="glyphicon glyphicon-italic"></span> LinkedIn</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
              </ul>
            </div>
          </div>

            <br>
            <br>

            <img data-src="holder.js/200x200" class="img-rounded" alt="200x200" src="http://cs625630.vk.me/v625630712/1ce57/Oiutifc-ymw.jpg" ">
          <div class="inner cover">
            <h1 class="cover-heading">Dima Chuvardinsky</h1>
            <p class="lead">Python Developer </p>
            <p class="lead">
              <button  type="button" class="btn btn-default btn-lg">
                 <a style="color:black" href="https://ru.scribd.com/doc/258037241/Resume"> <span  class="glyphicon glyphicon-cloud"> </span> Resume</a>
              </button>
            </p>
          </div>

<br>
<!--Дно -->
          <div class="mastfoot">
            <div class="inner">
              <div class="text">
        <!-- <p><div>
        <footer class="blog-footer">
            <p>
                <a href="#">Back to top</a>
            </p>          </p>
          <p>
            MyWebside© 2015

          <p>-->
            Created by Dima Chuvardinsky
          </p>
    </footer>
    </div></p>
    </div>
            </div>
          </div>
<!--Дно -->

      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>