{% extends 'blog/base.html' %}
{% block content %}
        <center><a href="{% url 'coming' %}" class="btn btn-primary btn-ln " role="button">MyBlog ready for 75%</a></center>

         <br>

        <div class="progress">
             <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>

        <br>
    {% for ver in object_list %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <center><h2 class="panel-title"><a>{{ ver.title }}</a></h2></center>
  </div>
  <div class="panel-body">
  <h4 style="color:gray"> <p>{{ ver.content }}</p></h4>
  </div>
</div>

    {% empty %}
    <h3 style="color:black><p>No News</p></h3>
    {% endfor %}

<!--Слайдер -->
      <div class="container">

              <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./Carousel Template for Bootstrap_files/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
              </div>
            <div class="container">
<header>
    <h1 ><center><p class="bg-primary"></p></center></h1>
</header>



{% endblock %}


